
/* font for the system */
/*head, body{
    font-family: 'Verdana', serif;
    font-size: 14px;
}

th, label, .panel-title, .panel-footer, .modal-title, .search{
    font-family: 'Tahoma', serif;
    font-size: 16px;
}*/

/* panel padding problem */
.panel-heading, .panel-footer {
    overflow: hidden;
}

/* modal size */
.modal.modal-wide .modal-dialog {
  width: 60%;
  height: 80%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

/* irrelevant styling */

#tallModal .modal-body p {
    margin-bottom: 900px
}

.help-inline{
    font-weight: bold;
    color: red;
}


/* title hyperlink style */
.title_hyper{

    padding: 0px 0px 0px 15px;

    a:link {
        color: #FF0000;
    }

    /* visited link */
    a:visited {
        color: #00FF00;
    }

    /* mouse over link */
    a:hover {
        color: #FF00FF;
    }

    /* selected link */
    a:active {
        color: #0000FF;
    }
}

.totalnum{
    padding-top: 30px;
}

.display_num{
    padding-top: 10px;
}

/* Top Navigation */


.navbar-right{
    padding-right: 15px;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 170px;
        width: 170px;
        margin-left: -170px;
        border: none;
        border-radius: 0;
        overflow-y: visible;
        background-color: #2d2d2d;
        bottom: 0;
        overflow-x: visible;
        padding-bottom: 20px;
    }

    .side-nav>li>a {
        width: 170px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }

    .side-nav li .btn-link:hover,
    .side-nav li .btn-link:focus {
        outline: none;
        background-color: #000 !important;
    }

    /*shift content to right and bottom*/
    body{
        padding-left: 170px;
    }

}

body{
    padding-top: 45px;
}

label{
    text-align:left;
    padding-top: 5px;
}

.create_edit{
    padding-top: 20px;
}

.form_button_left{
    padding: 30px 0px 0px 190px;
}

.form_button_right{
    padding: 30px 190px 0px 0px;
}

.datetimepicker{
    position: relative;
}

.select2-container {
  width: 100% !important;
  padding: 0;
}

//client side design
.thin-border{
    border: thin solid black;
}

.thick-border{
    border: thick solid black;
}

.thick-border-blue{
    border: thick solid blue;
}

//font size responsive
@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.5em; /* 1.5x default size */
    }
    h1 {
        font-size: 1.8em;
    }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
    body {
        font-size: 1.5em; /* 1.2x default size */
        }
    h1 {
        font-size: 1.6em;
    }
}
@media all and (max-width: 500px) { /* screen size until 500px */
    body {
        font-size: 1.1em; /* 0.8x default size */
        }
    h1 {
        font-size: 1.2em;
    }

    // ._720kb-datepicker-calendar{
       /*margin-left: -0.5%;*/
        // width:101%;
        /*width:200px;*/
        /*position: absolute;*/
        // z-index: 9999;
    // }
}

.bgimage {
    background-image: url(../../img/main1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.bgimage-inside {
    padding-top: 37.36%
}

.product-name {
  height: 2.500em;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  font-size: 115%;
}
.product-desc {
  height: 3.125em;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  margin: 0 0 2px 0;
  color: #95a5a6;
}
.product-img-box {
  height: 13.4em;
  max-height: 13.4em;
  overflow: hidden;
}
.product-img-box > img {
  height: 12.7em;
  overflow: hidden;
  cursor: pointer;
}

.img-center {
    display: block;
    margin: 0 auto;
}

/*background image wrapper*/
.wrapper {
    width: 100%;
    padding-top: 25px;
}

.img-back {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#text {
    z-index:100;
    position:absolute;
    color:white;
    font-size:100px;
    font-weight:bold;
    left:150px;
    top:350px;
}

/*vending machine video playback*/
.video-section .pattern-overlay {
background-color: rgba(71, 71, 71, 0.59);
padding: 110px 0 32px;
min-height: 496px;
/* Incase of overlay problems just increase the min-height*/
}
.video-section h1, .video-section h3{
text-align:center;
color:#fff;
}
.video-section h1{
font-size:110px;
font-family: 'Buenard', serif;
font-weight:bold;
text-transform: uppercase;
margin: 40px auto 0px;
text-shadow: 1px 1px 1px #000;
-webkit-text-shadow: 1px 1px 1px #000;
-moz-text-shadow: 1px 1px 1px #000;
}
.video-section h3{
font-size: 25px;
font-weight:lighter;
margin: 0px auto 15px;
}
.video-section .buttonBar{display:none;}
.player {font-size: 1px;}

/*carousel client height*/
.carousel-inner{
  width:100%;
  max-height: 500px !important;
  min-height: 400px;
}

.table-order
{
    table-layout: fixed;
    width: 100px;
}

.table-ord {
    width: 30px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

// table input
table input.form-control {
  width: 100%;
}

._720kb-datepicker-calendar{
    margin-top:25px;
    z-index: 9999;
}

.button-link {
     background:none!important;
     color:black;
     border:none;
     font: inherit;
     /*border is optional*/
     cursor: pointer;
}

.Red {
    background-color: red;
}

.Yellow {
    background-color: yellow;
}

.Lightpurple {
    background-color: #cd72f6;
}

.td_edit {
    cursor: pointer;
}

// vue cloak
[v-cloak] { display:none; }

// table setting for fix header
// working1 css
/* table.table-fixedheader>tbody {
    display: block;
}

table.table-fixedheader>tbody {
    overflow-y: auto;
    height: 800px;
}

table.table-fixedheader>thead>tr>th, table.table-fixedheader>tbody>tr>td {
    float: left;
} */

// working2 flexbox
/*
.table-fixedheader {
    table-layout: fixed;
    display: flex;
    flex-flow: column;
}

.table-fixedheader thead {
  display: block;
  > tr {
    display: flex;
    >th {
      flex: 1;
    }
    >th:nth-child(2) {
      flex: 0 0 20px;
    }
  }
}

.table-fixedheader tbody {
  height: 700px;
  overflow-y: auto;
}

.table-fixedheader tbody {
  display: block;
  > tr {
    display: flex;
    // flex-wrap:nowrap;
    >td {
      flex: 1;
      // display:flex;
      // justify-content:flex-start;
    }
    >td:nth-child(2){
      flex: 0 0 20px;
    }
  }
} */


// google map api
#map {
  height: 100%;
  height: 600px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

angular jquery datepicker
input[type=text]{
  border-radius: 0px !important;
}
.ui-datepicker-trigger{
  position: absolute;
  margin-top: -28px;
  right:15px;
  border:none;
  background-color:transparent;
}