
.container-fluid{
    padding: 50px 0px 0px 0px;
}

/* font for the system */
head, body{
    font-family: 'Verdana', serif;
    font-size: 14px;
}

/* font for title part of system */
th, label, .panel-title, .panel-footer, .modal-title, .search{
    font-family: 'Tahoma', serif;
    font-size: 16px;
}

/* panel padding problem */
.panel-heading, .panel-footer {
    overflow: hidden;
}

/* modal size */
.modal.modal-wide .modal-dialog {
  width: 60%;
  height: 80%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

/* irrelevant styling */
body p { 
  max-width: 400px; 
  margin: 20px auto; 
}
#tallModal .modal-body p { 
    margin-bottom: 900px 
}

.help-inline{
    font-weight: bold;
    color: red;
}


/* title hyperlink style */
.title_hyper{

    padding: 0px 0px 0px 15px;

    a:link {
        color: #FF0000;
    }

    /* visited link */
    a:visited {
        color: #00FF00;
    }

    /* mouse over link */
    a:hover {
        color: #FF00FF;
    }

    /* selected link */
    a:active {
        color: #0000FF;
    }
}

.totalnum{
    padding-top: 30px;
}

.display_num{
    padding-top: 10px;
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

.navbar-right{
    padding-right: 15px;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #2d2d2d;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

label{
    text-align:left;
    padding-top: 5px;
}

.create_edit{
    padding-top: 20px;   
}

.form_button_left{
    padding: 30px 0px 0px 190px;
}

.form_button_right{
    padding: 30px 190px 0px 0px;
}

.datetimepicker{
    position: relative;
}

.select2-container {
  width: 100% !important;
  padding: 0;
}